@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');
.navbar-logo{
    display: flex;
    height: 50px;
}
.navbar-logo h1{
    font-size: 28px;
    line-height: 22px;
}
.navbar-logo img{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.navbar-logo p{
    line-height: 5px;
}
#writer{
    color: var(--white-color);
    font-size: 25px;
}

.grid-contact{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    height: auto;
    color: aqua;
}
@media (max-width:992px) {
    .grid-contact{
        grid-template-columns: 100%;
    }
}
.box-contact{
    padding: 2rem;
    height: auto;
    border-radius: 20px;
    background-color: white;
}
.color-contact{
    background-image: url('../images/contact.jpg');

}
.why-fuzz{
    z-index: 2;
    padding: 1rem 10% 5rem;
    margin-top: 1rem;
}
.back_why{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-color: #090a14;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 15%, rgba(0, 0, 0, 1) 22%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 15%, rgba(0, 0, 0, 1) 22%);
}
.z-up{
    z-index: 2;
}
.section-first{
    padding-top: 18rem
}
.message-contact{
    background-color: #0e112bb7;
    padding: 2rem 1rem;
    height: 100%;
    margin:  0 1rem;
}
@media (max-width:992px) {
    .message-contact{
        padding: 2rem 2rem;
        width: 100%;
        margin:1rem 0;
    }
}