.navbar-logo{
    display: flex;
    height: 50px;
}
.navbar-logo h1{
    font-size: 28px;
    line-height: 22px;
}
.navbar-logo img{
    width: 100%;
    height: 100%;
    margin: 0 10px;
}
.navbar-logo p{
    line-height: 5px;
}
#writer{
    color: var(--white-color);
    font-size: 25px;
}
.blueback{
    text-shadow: 0 0 20px rgba(0, 43, 184, 0.719)
}